*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(212, 45%, 89%);
}

.all{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 110px 580px;
}

.box{
    background-color: white;
    width: 205px;
    height: 335px;
    border-radius: 10px;
}
.box img{
    padding: 10px;
    border-radius: 20px;
}
.box-text{
    padding: 0 10px;
}
.box h2{
    font-size: 2.5vmin;
    padding-top: 10px;
    padding-bottom: 10px;
}

.box p{
    font-size: 2vmin;
}

.attribution{
    font-size: 11px;
    text-align: center;
}
.attribution a{
    color: hsl(218, 44%, 22%);
}
